:root{
    --dark-bg:#1f2937;
    --quote-bg:#e5e7eb;
    --dark-txt:#1f2937;
    --light-txt:#f9faf8;
    --light-txt-secondary:#e5e7eb;
    --btn:#3882f6;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.quote.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--quote-bg);
}

.quotetextcontainer{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    gap: 2px;
    margin: 54px 16px 48px;
}

.quote.text{
    flex: 1 1 auto;
    max-width: 36em;
    font-style: italic;
}

.quote.attribution{
    flex: auto;
    align-items: end;
    display: flex;
}

.calltoaction.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.container{
    display: flex;
    background-color: var(--btn);
    align-items: center;
    justify-content:space-around;
    padding: 30px;
    flex: 0 1 36em;
    margin: 36px 8px;
    flex-wrap: wrap;
    gap: 8px;
}

.text.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 3 auto;
}

.text.container .text{
    flex: auto;
    outline: 2px dotted var(--light-txt);
}

.signup.button{
    outline: 2px solid var(--light-txt);
}

.copyright.container{
    /*background-color: var(--dark-bg);
    color: var(--light-txt);*/
    display: flex;
    justify-content: center;
}

.copyright .text{
    padding: 16px;
}