:root{
    --dark-bg:#1f2937;
    --quote-bg:#e5e7eb;
    --dark-txt:#1f2937;
    --light-txt:#f9faf8;
    --light-txt-secondary:#e5e7eb;
    --btn:#3882f6;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.header.container{
    gap: 8px;
    justify-content: space-around;
    padding: 8px;
    background-color: var(--dark-bg);
    color: var(--light-txt);
}

.header.logo{
    font-size: 24px;
    font-weight: bold;
}

.header a:visited{
    text-decoration: none;
    color: inherit;
}

.header a{
    text-decoration: none;
    color: inherit;
}

.headerlinks.container{
    gap: 16px;
    justify-content: center;
    align-items: center;
    color: var(--light-txt-secondary);
}

.header.link{
    flex: auto;
    font-size: 18px;
}

.hero.container{
    gap: 16px;
    background-color: var(--dark-bg);
    justify-content: center;
    color: var(--light-txt);
    padding: 64px;
}

.herocenter.container{
    gap: 18px;
}

.herotext.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 400px;
    justify-content: center;
    gap: 4px;
}

.herotext #title{
    font-size: 48px;
    font-weight:bolder;
}

.herotext #subtitle{
    font-size: 18px;
    color: var(--light-txt-secondary);
}

.hero.button{
    flex: 0 1 auto;
    max-width: fit-content;
    padding: 4px 16px;
    font-size: 18px;
    font-weight: bold;
}

.hero img{
    flex: 1 4 auto;
    width: 400px;
    height: 160px;
    object-fit: cover;
}

.info.container{
    flex-direction: column;
    align-items: center;
}

#infoheader{
    margin: 32px 8px 32px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: var(--dark-txt);
}

.imagerow.container{
    flex-wrap: wrap;
    gap: 32px;
    margin: 0px 8px 52px;
    align-items: center;
    justify-content: center;
}

.imageandtext.container{
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.image{
    display: flex;
    flex: auto;
}


.imageandtext img{
    flex: 0 1 auto;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    border: solid 2px var(--btn);
}

.infotext{
    max-width: 160px;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quote.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--quote-bg);
}

.quotetextcontainer{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    gap: 2px;
    margin: 54px 16px 48px;
}

.quote.text{
    flex: 1 1 auto;
    max-width: 36em;
    font-style: italic;
    font-size: 36px;
    font-weight:100;
}

.quote.attribution{
    flex: auto;
    align-items: end;
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.calltoaction.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.container{
    display: flex;
    background-color: var(--btn);
    align-items: center;
    justify-content:space-around;
    padding: 30px;
    flex: 0 1 36em;
    margin: 36px 8px;
    flex-wrap: wrap;
    gap: 8px;
    border-radius: 8px;
}

.text.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 3 auto;
}

.text.container{
    color: var(--light-txt);
}

.text.container #bigtext{
    flex: auto;
    font-size: 24px;
    font-weight: bold;
}

.text.container #smalltext{
    flex: auto;
}

.button{
    background-color: var(--btn);
    color: var(--light-txt);
    border-radius: 8px;
    transition: all 0.1s ease-out;
}

.button:visited{
    background-color: var(--btn);
    color: var(--light-txt);
    text-decoration: none;
    color: inherit;
}

.button:hover{
    color: var(--btn);
    background-color: var(--light-txt);
}

.signup.button{
    outline: 2px solid var(--light-txt);
    padding: 8px 16px;
}

.card.container a{
    text-decoration: none;
    color: inherit;
}

.card.container a:visited{
    text-decoration: none;
    color: inherit;
}

.copyright.container{
    /*background-color: var(--dark-bg);
    color: var(--light-txt);*/
    display: flex;
    justify-content: center;
}

.copyright .text{
    padding: 16px;
}